# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [2]:
import pandas as pd

In [7]:
demo_data = pd.read_csv('/content/demo.csv')
demo_data.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

In [33]:
Month_count= values_count= demo_data['Month Name of Joining'].value_counts()
max_joinings_month = Month_count.idxmax()
print(f'the month with maximum joining is: {max_joinings_month}')

the month with maximum joining is: April

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

In [37]:
mean_ks_salary= demo_data.loc[demo_data['State']=="KS", 'Salary'].mean()
print(mean_ks_salary)

104225.45454545454

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [43]:
max_mean_salary_region = demo_data.groupby('Region')['Salary'].mean()
print(f'the highest salary region is : {max_mean_salary_region.idxmax()} having value of {max_mean_salary_region.max()}')

the highest salary region is : Midwest having value of 122633.6456140351

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [44]:
min_mean_salary_region = demo_data.groupby('Region')['Salary'].mean()
print(f'the lowest salary region is : {min_mean_salary_region.idxmin()} having value of {min_mean_salary_region.min()}')

the highest salary region is : West having value of 118910.1975308642

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

In [46]:
max_mean_weight_city= demo_data.groupby('City')['Weight in Kgs.'].mean()
print(f'The highest mean weight in found in {max_mean_weight_city.idxmax()} having mean value of {max_mean_weight_city.max()}')

The highest mean weight in found in Conroe having mean value of 90.0

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

In [58]:
mean_salary_dr = demo_data[(demo_data['Name Prefix'] == 'Dr.') | (demo_data['Name Prefix'] == 'Drs.')]['Salary'].mean()
mean_salary_pr = demo_data[demo_data['Name Prefix']=="Prof."]['Salary'].mean()
dr_prof_mean_salary_diff= mean_salary_dr - mean_salary_pr
print(f'The mean salary differnece between doctors and professors is: {dr_prof_mean_salary_diff}')

The mean salary differnece between doctors and professors is: -2635.981785063763

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

In [87]:
female_users = demo_data[demo_data['Gender'] == 'F']
yahoo_users = female_users[female_users['E Mail'].str.contains('@yahoo.')]['E Mail'].count()

print(f'No. of females using Yahoo: {yahoo_users}')

No. of females using Yahoo: 69

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

In [85]:
doctors_users = demo_data[(demo_data['Name Prefix'] == 'Dr.') | (demo_data['Name Prefix'] == 'Drs.')]
doctors_with_gmail = doctors_users[doctors_users['E Mail'].str.endswith('@gmail.com')]['E Mail'].count()

print(f'No. of females using Yahoo: {doctors_with_gmail}')

No. of females using Yahoo: 42

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [70]:
male = demo_data[demo_data['Gender']=='M']
youngest_male = demo_data.loc[demo_data['Age in Yrs.'].idxmin()]
youngest_male_password= youngest_male['Password']
print(f'Usama bhai, password youngest male ka ye hai : {youngest_male_password}')

Usama bhai, password youngest male ka ye hai : xPr\aGPTQ#v